{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "5.12"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}